/* Start Box */
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
/* End Box */
/* Start padding + margin */
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
/* end padding + margin */
/* Start color */
.bg-white {
    background-color: white;
}
.c-black {
    color: black;
}
/* End color */
/* Start Position */
.p-relative {
    position: relative;
}
/* End Position */
/* Start Fonts */
.txt-c {
    text-align: center;
}
.fs-14 {
    font-size: 14px;
} 
/* End Fonts */
/* Start Border */
.rad-6 {
    border-radius: 6px;
}
/* End Border */
/* Start Size */
.w-full {
    width: 100%;
}
/* End Size */
/* Start Componants */
.between-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* End Componants */